In [1]:
import pandas as pd
import numpy as np

import os

In [2]:
file_dir = '/home/chengyuli/yanshan/data/DataScience/rawData'

file_list = os.walk(file_dir)

df_list = []

for root, dirs, files in file_list:
    for file in files:
        df_list.append(pd.read_csv(os.path.join(file_dir, file)))
        
final = pd.concat(df_list)

In [3]:
final.head()

         time                                           contents
0  2023-12-26  联合国秘书长古特雷斯今天宣布，任命来自荷兰的西格丽德·卡格（Sigrid Kaag）为加沙人...
1  2023-12-26  世界卫生组织今天表示，加沙不堪重负的医护人员在继续努力抢救遭受导弹袭击的受害者。其中，加沙中...
2  2023-12-25  世界卫生组织团队今天访问了加沙阿克萨医院，了解迈加齐难民营遇袭事件中伤者的治疗情况。据报道，...
3  2023-12-23  以色列继续从陆海空大举轰炸加沙。联合国开发计划署表示，在该机构工作了近30年的资深雇员穆格拉...
4  2023-12-22  联合国安理会今天通过了向加沙提供更多援助的决议。决议通过后不久，联合国秘书长古特雷斯在纽约总...

In [4]:
from dateutil.parser import parse

final['time'] = final['time'].apply(parse)

In [5]:
from datetime import datetime

starttime = "2023-10-07 00:00:00"
final = final[final['time'] >= datetime.strptime(starttime, "%Y-%m-%d %H:%M:%S")]

In [6]:
final

                   time                                           contents
0   2023-12-26 00:00:00  联合国秘书长古特雷斯今天宣布，任命来自荷兰的西格丽德·卡格（Sigrid Kaag）为加沙人...
1   2023-12-26 00:00:00  世界卫生组织今天表示，加沙不堪重负的医护人员在继续努力抢救遭受导弹袭击的受害者。其中，加沙中...
2   2023-12-25 00:00:00  世界卫生组织团队今天访问了加沙阿克萨医院，了解迈加齐难民营遇袭事件中伤者的治疗情况。据报道，...
3   2023-12-23 00:00:00  以色列继续从陆海空大举轰炸加沙。联合国开发计划署表示，在该机构工作了近30年的资深雇员穆格拉...
4   2023-12-22 00:00:00  联合国安理会今天通过了向加沙提供更多援助的决议。决议通过后不久，联合国秘书长古特雷斯在纽约总...
..                  ...                                                ...
238 2023-11-09 15:25:09  10月份，全国居民消费价格同比下降0.2%。其中，食品价格下降4.0%，非食品价格上涨0.7...
239 2023-10-28 15:04:50  　　中新社北京10月28日电 综合消息：当地时间27日，以色列军方持续加大对加沙地带的空袭和...
242 2023-11-16 16:44:18  　　以色列经济与产业部本周早些时候发布评估报告显示，新一轮巴以冲突严重冲击以色列国民经济。近...
243 2023-10-15 18:31:14  　　据《以色列时报》当地时间15日报道，以色列国防军表示，自10月7日本轮巴以冲突发生以来，...
244 2023-10-27 06:15:37  　　当地时间10月25日，联合国安理会就俄罗斯和美国分别提交的两份关于巴以局势的决议草案进行...

[309 rows x 2 columns]

In [7]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 309 entries, 0 to 244
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time      309 non-null    datetime64[ns]
 1   contents  304 non-null    object
dtypes: datetime64[ns](1), object(1)
memory usage: 7.2+ KB

In [8]:
final.to_csv("/home/chengyuli/yanshan/data/DataScience/finalData/news.csv", index=False)